<div class="user-container">

<h2>Lista de Usuarios</h2>
<ul>
  <li *ngFor="let user of users">
    {{ user.name }} - {{ user.email }}
  </li>
</ul>
<h2>Lista de Usuarios - Formularios</h2>
<input type="text" [(ngModel)]="newName" placeholder="Nombre">
<input type="text" [(ngModel)]="newEmail" placeholder="Email">
<button (click)="addUser()">Agregar Usuario</button>


<h2>Lista de Usuarios - CRUD</h2>
<!-- Lista de usuarios -->
<ul>
    <li *ngFor="let user of users">
      <span>{{ user.name }} - {{ user.email }}</span>

      <button (click)="deleteUser(user.id)">❌ Eliminar</button>
      <button (click)="editUser(user.id)">✏️ Editar</button>
      <button class="view" (click)="selectUser(user.id)">👁️ Ver Detalles</button>
    </li>
  </ul>
  <app-user-detail [userId]="selectedUserId"></app-user-detail>
</div>
